# Data Analysis and Pre-processing

In [2]:
import pandas as pd
import xlrd
import geopandas as gpd

## Importing and preparing Food Access Data

In [2]:
food= pd.read_excel('./data/Food_Access_2015.xlsx', sheet_name=2) # sheet_name is an optional argument that selects workbook tab to import (o based index, so this would be selecting the third sheet in the workbook)

In [3]:
type(food) #checking to ensure that the data has gone into a python DataFrame

pandas.core.frame.DataFrame

In [4]:
food.head(5) #Viewing the first 5 rows of the dataset and checking out the massive number of columns

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,221,1622,217,14,0,14,45,44,26,112
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,214,888,1217,5,0,5,55,75,87,202
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,439,2576,647,17,5,11,117,87,108,120
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,904,4086,193,18,4,11,74,85,19,82
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,1126,8666,1437,296,9,48,310,355,198,488

In [5]:
food.columns

Index(['CensusTract', 'State', 'County', 'Urban', 'POP2010', 'OHU2010',
       'GroupQuartersFlag', 'NUMGQTRS', 'PCTGQTRS', 'LILATracts_1And10',
       ...
       'TractSeniors', 'TractWhite', 'TractBlack', 'TractAsian', 'TractNHOPI',
       'TractAIAN', 'TractOMultir', 'TractHispanic', 'TractHUNV', 'TractSNAP'],
      dtype='object', length=147)

stopping here because I am not sure exactly which columns I will want to include in my project analysis.

In [ ]:
food_clean= food.drop(columns=['OHU2010','NUMGQTRS','PCTGQTRS', 'LILATracts_1And10', 'LILATracts_halfAnd10', 'LILATracts_1And20', "NUMGQTRS",
"PCTGQTRS",
"LILATracts_1And10",
"LILATracts_halfAnd10",
"LILATracts_1And20",
"LILATracts_Vehicle",
"LAhalfand10",
"LA1and20",
"LATracts_half",
"LATracts1",
"LATracts10",
"LATracts20",
"LATractsVehicle_20",
"LAPOP05_10",
"LAPOP1_20",
"LALOWI1_10",
"LALOWI05_10",
"LALOWI1_20",
"lapophalf",
"lapophalfshare",
"lalowihalf",
"lalowihalfshare",
"lakidshalf",
"lakidshalfshare",
"laseniorshalf",
"laseniorshalfshare",
"lawhitehalf",
"lawhitehalfshare",
"lablackhalf",
"lablackhalfshare",
"laasianhalf",
"laasianhalfshare",
"lanhopihalf",
"lanhopihalfshare",
"laaianhalf",
"laaianhalfshare",
"laomultirhalf",
"laomultirhalfshare",
"lahisphalf",
"lahisphalfshare",
"lahunvhalf",
"lahunvhalfshare",
"lasnaphalf",
"lasnaphalfshare",
"lapop1",
"lapop1share",
"lalowi1",
"lalowi1share",
"lakids1",
"lakids1share",
"laseniors1",
"laseniors1share",
"lawhite1",
"lawhite1share",
"lablack1",
"lablack1share",
"laasian1",
"laasian1share",
"lanhopi1",
"lanhopi1share",
"laaian1",
"laaian1share",
"laomultir1",
"laomultir1share",
"lahisp1",
"lahisp1share",
"lahunv1",
"lahunv1share",
"lasnap1",
"lasnap1share",
"lapop10",
"lapop10share",
"lalowi10",
"lalowi10share",
"lakids10",
"lakids10share",
"laseniors10",
"laseniors10share",
"lawhite10",
"lawhite10share",
"lablack10",
"lablack10share",
"laasian10",
"laasian10share",
"lanhopi10",
"lanhopi10share",
"laaian10",
"laaian10share",
"laomultir10",
"laomultir10share",
"lahisp10",
"lahisp10share",
"lahunv10",
"lahunv10share",
"lasnap10",
"lasnap10share",
"lapop20",
"lapop20share",
"lalowi20",
"lalowi20share",
"lakids20",
"lakids20share",
"laseniors20",
"laseniors20share",
"lawhite20",
"lawhite20share",
"lablack20",
"lablack20share",
"laasian20",
"laasian20share",
"lanhopi20",
"lanhopi20share",
"laaian20",
"laaian20share",
"laomultir20",
"laomultir20share",
"lahisp20",
"lahisp20share",
"lahunv20",
"lahunv20share",
"lasnap20",
"lasnap20share",
"TractLOWI",
"TractKids",
"TractSeniors",
"TractWhite",
"TractBlack",
"TractAsian",
"TractNHOPI",
"TractAIAN",
"TractOMultir",
"TractHispanic",
"TractHUNV",
"TractSNAP"
]) #drops the columns that I don't want

In [ ]:
food_clean.head(5)#viewing the reduced DataFrame

In [ ]:
ky_food_clean=food_clean.loc[(food_clean['State']== 'Kentucky')] #filtering the DataFrame to Kentucky

In [ ]:
ky_fayette_food_clean=ky_food_clean.loc[(ky_food_clean['County']=='Fayette')] #filtering the DataFrame to Fayette County

In [ ]:
ky_fayette_food_clean.head(5) #viewing the reduced DataFrame

In [ ]:
ky_fayette_food_clean_rename=ky_fayette_food_clean.rename(columns={'Urban':'UrbanFlag', 'GroupQuartersFlag':'SharedHousingFlag', 'HUNVFlag':'LowVehicleAccessFlag','LowIncomeTracts':'LowIncomeFlag', 'LA1and10':'LowAccess1_10', 'LAPOP1_10':"LowAccessPop1_10"})#This renames columns

In [ ]:
ky_fayette_food_clean_rename.columns #checking the newly assigned column names

In [ ]:
ky_fayette_food_clean_rename_int=ky_fayette_food_clean_rename.astype(dtype={"LowAccessPop1_10": 'int64'}) #casts column to new data format

In [ ]:
ky_fayette_food_clean_rename_int=ky_fayette_food_clean_rename_int.drop(columns=['State', 'County']) #removed additional unnecessary fields

In [ ]:
ky_fayette_food_clean_rename_int.info() #checking the data type of each column

In [ ]:
ky_fayette_food_clean_rename_int.to_json('./data/ky_fayette_food_access_2015.json', orient='index') #exporting filtered, reduced DataFrame to JSON. The optional argument orient=... selects the appropriate method of grouping items in the JSON output.

## Merging data to spatial layer

In [ ]:
tracts= gpd.read_file('./data/cb_2017_21_tract_500k/kentucky_census_tracts.geojson')

In [ ]:
tracts['GEOID'] = tracts['GEOID'].astype('int64')

In [ ]:
tracts.head(5)

In [ ]:
tracts_min=tracts.drop(columns=['STATEFP','COUNTYFP','TRACTCE', 'AFFGEOID', 'NAME', 'LSAD','ALAND','AWATER'])

In [ ]:
tracts_min=tracts_min.rename(columns={'GEOID':'CensusTract'})

In [ ]:
tracts_min.head(5)

In [ ]:
tracts_min.plot();

In [ ]:
access= pd.read_json('./data/ky_fayette_food_access_2015.json', dtype= 'int64')

In [ ]:
food_access=access.T

In [ ]:
food_access.head(5)

In [ ]:
food_access.info()

In [ ]:
merged=tracts_min.merge(food_access, on="CensusTract")

In [ ]:
merged.info()

In [ ]:
merged.head(5)

In [ ]:
merged.plot()

In [ ]:
merged.to_file('./data/fayette_food_access.geojson')

## Lexington Food Location Import and Processing

In [3]:
lf=pd.read_excel('https://lexingtonhealthdepartment.org/wp-content/uploads/2019/05/most_recent_food_scores.xlsx')

In [5]:
lf.head(5)

,Est Number,Premise Name,Premise Address 1,Reporting Area,Inspection Type,Score,Inspection Date,Violation List,Followup Required,Opening Date
0,67372,#1 CHINA BUFFET,"125 E. REYNOLDS ROAD, STE. 120",605,1,93.0,2019-05-07,15 19 20 23 29 31,NO,2002-01-02
1,65440,1ST. BASE CONCESSION,207 LEGENDS LANE,605,1,99.0,2019-04-10,15,NO,2016-03-11
2,98932,21C LEXINGTON MASTER TENANT,167 W MAIN STREET,605,1,97.0,2019-01-29,19 26,NO,2016-01-25
3,30690,2ND FLOOR CLUB KITCHEN,4201 VERSAILLES RD.,605,1,100.0,2019-04-11,NaN,NO,1988-07-06
4,65439,3RD. BASE CONCESSION,207 LEGENDS LANE,605,1,99.0,2019-04-10,15,NO,2016-03-11

In [8]:
lf.columns

Index(['Est Number', 'Premise Name', 'Premise Address 1', 'Reporting Area',
       'Inspection Type', 'Score', 'Inspection Date', 'Violation List',
       'Followup Required', 'Opening Date'],
      dtype='object')

In [9]:
lf_clean=lf.drop(columns=['Est Number','Reporting Area',
       'Inspection Type', 'Score', 'Inspection Date', 'Violation List',
       'Followup Required', 'Opening Date'])

In [10]:
lf_clean.head(5)

                  Premise Name               Premise Address 1
0              #1 CHINA BUFFET  125 E. REYNOLDS ROAD, STE. 120
1        1ST.  BASE CONCESSION                207 LEGENDS LANE
2  21C LEXINGTON MASTER TENANT               167 W MAIN STREET
3       2ND FLOOR CLUB KITCHEN             4201 VERSAILLES RD.
4         3RD. BASE CONCESSION                207 LEGENDS LANE

In [11]:
lex_food=lf_clean.rename(index=str, columns={"Premise Name": "Name", "Premise Address 1": "Street"})

In [12]:
lex_food.head(5)

                          Name                          Street
0              #1 CHINA BUFFET  125 E. REYNOLDS ROAD, STE. 120
1        1ST.  BASE CONCESSION                207 LEGENDS LANE
2  21C LEXINGTON MASTER TENANT               167 W MAIN STREET
3       2ND FLOOR CLUB KITCHEN             4201 VERSAILLES RD.
4         3RD. BASE CONCESSION                207 LEGENDS LANE

In [17]:
lex_food.describe()

          Name              Street
count     2317                2317
unique    1296                1297
top     SUBWAY  4201 VERSAILLES RD
freq        24                  19

In [18]:
lex_food['City']='Lexington'

In [19]:
lex_food['State']= 'Kentucky'

In [20]:
lex_food.head(5)

,Name,Street,City,State
0,#1 CHINA BUFFET,"125 E. REYNOLDS ROAD, STE. 120",Lexington,Kentucky
1,1ST. BASE CONCESSION,207 LEGENDS LANE,Lexington,Kentucky
2,21C LEXINGTON MASTER TENANT,167 W MAIN STREET,Lexington,Kentucky
3,2ND FLOOR CLUB KITCHEN,4201 VERSAILLES RD.,Lexington,Kentucky
4,3RD. BASE CONCESSION,207 LEGENDS LANE,Lexington,Kentucky

In [23]:
lex_food_unique= lex_food.drop_duplicates('Name', keep='first')

In [24]:
lex_food_unique.describe()

                      Name              Street       City     State
count                 1296                1296       1296      1296
unique                1296                1209          1         1
top     KENTUCKY CATTLEMEN  4201 VERSAILLES RD  Lexington  Kentucky
freq                     1                  16       1296      1296

In [31]:
lex_food_unique.head(5)

,Name,Street,City,State
0,#1 CHINA BUFFET,"125 E. REYNOLDS ROAD, STE. 120",Lexington,Kentucky
1,1ST. BASE CONCESSION,207 LEGENDS LANE,Lexington,Kentucky
2,21C LEXINGTON MASTER TENANT,167 W MAIN STREET,Lexington,Kentucky
3,2ND FLOOR CLUB KITCHEN,4201 VERSAILLES RD.,Lexington,Kentucky
4,3RD. BASE CONCESSION,207 LEGENDS LANE,Lexington,Kentucky

In [33]:
lex_food_unique.to_csv('./data/lf.csv')